.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width: 60%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  margin-top: 30px;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.source {
  margin-top: 30px;
  margin-bottom: 30px;
}

.toggle{
  width:300px;
  margin-top:50px;
  margin-left: 50px;
}

.slider{
  width:100px;
  margin-top:50px;
  margin-left: 130px;
}

::placeholder {
  color: black;
  font-size: 1rem;
}

.icon{
  width: 20px;
  height: 20px;
}

.mapLogo{
  margin-top: 40px;
  margin-left: 20px;
  width: 130px;
  height: 130px;
}

#map { height: 750px}

.progress{
  margin-top: 50px;
  height: 80px;
  width: 80px;
  margin-left: 30px;
  margin-right: 70px;
}